<header>
    
    <div class="container">
      <div class="left">
      <button id="menu" (click)="menuclick()"   [class]="class" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon class="white">menu</mat-icon>
     </button>
     <span class="white">Главно мени</span>
      </div>

      <div class="center main-name">
      <a style="text-decoration:none; color:white" routerLink="/home"><span>Платформа за волонтирање во случај на шумски пожари</span></a>
      </div>

      <div class="right">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="white">home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="white">share</mat-icon>
      </button>
      </div>

  </div>
   
  </header>