  .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }

  .main-name{
    font-size: xx-large;
    color: whitesmoke;
    padding-top: 10px;
  }

  header{
    background-color: rgb(202, 50, 50);
    padding: 10px;
    font-family: 'Century Gothic';
  }

  .white{
    color: white;
  }


  @keyframes mymove {
    50% {transform: rotate(90deg);}
  }

  .rotate {
    animation: mymove 3s;
  }

  /* #menu:hover{
    transition: 2s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  } */
