<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-nav-bar></app-nav-bar>
<br>
<br>
<h1 style="margin: auto; width: 50%;">Избери град на кој што сакаш да помогнеш</h1>
<app-map></app-map>
<mat-checkbox>Check me out</mat-checkbox>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="warn">Warn</button>
<button mat-button color="accent">Accent</button>
<button mat-button disabled>Disabled</button>

<mat-select #mode value="side">
<mat-option value="side">Side</mat-option>
<mat-option value="over">Over</mat-option>
<mat-option value="push">Push</mat-option>
</mat-select>
<br><br><br><br><br><br><br><br><br>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
