h1{
    font-family: 'Century Gothic';
    margin-left: 210px;
    color: gray;
}

.middle{
    background-color: rgb(202, 50, 50);
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
        width: 350px;
        height: 500px;
        font-size: 18px;
        font-family: 'Century Gothic';
        font-weight: bold;

}
.item img {
    margin-bottom: 20px;
    width: 350px;
}

footer{
    background-color: rgb(27, 25, 25);
    height: 25px;
    display: flex;
    justify-content: center;
}


.white{
    color: white;
}

mat-sidenav-container{
    height: 100%;

}
