<br><br><br><br><br>

<div class="flex">
<h2>Членови на тимот:</h2>
<br><br><br>
</div>
<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>Благој Петков</mat-card-title>
      <mat-card-subtitle>Дизајнер</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Благој Петков е студент на ФИНКИ во трета година.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.facebook.com/b.5kov/"><mat-icon>facebook</mat-icon></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Ангела Муканова</mat-card-title>
      <mat-card-subtitle>Архитект</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ангела Муканова е студентка на ФИНКИ во трета година.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.facebook.com/mukanovaangela"><mat-icon>facebook</mat-icon></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Јована Томоска</mat-card-title>
      <mat-card-subtitle>Дизајнер</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Јована Томоска е студентка на ФИНКИ во четврта година.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.facebook.com/jovana.tomoska"><mat-icon>facebook</mat-icon></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image4"></div>
      <mat-card-title>Маја Петрова</mat-card-title>
      <mat-card-subtitle>Дизајнер</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Маја Петрова е студентка на ФИНКИ во трета година.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.facebook.com/maja.petrova.31"><mat-icon>facebook</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>