.MainPage_MapArea{
    margin-left: 190px;
}

#legend{
    width: 400px;
    position: absolute;
    margin-left: 180px;
    margin-right: 70px;
    margin-bottom: 100px;
    margin-top: 100px;
}

area{
    cursor: pointer;
}