<div class="main">

<div class="text"><p>Поради лошата состојба на противпожарните единици во Македонија, способноста да се справиме со шумски пожари е многу ограничена.
    Пожарникарите - доброволци претставуваат интегрален дел од борбата против шумските пожари кои што за краток период можат да
    нанесат голема штета на растителниот и животински свет.
    Поради тоа, клучно е да се овозможи и да се поттикне акција кај граѓаните кои се способни да волонтираат и да спречат пламените јазици да се
    прошират. Оваа веб апликација овозможува едноставна организација на доброволните капацитети.</p></div>
</div>
