
<div class="container pb-5">
    <h2 style="text-align: center;">Пријавување за волонтерство</h2><br>
    <div class="row" style="position:relative; margin-left: 42%; max-width: 400px">
            <div class="card" style="max-width: 250px">
                <div class="card-body">
                    <div class="form-header blue accent-1 text-center text-danger">
                        <h3>Пријави се!</h3>
                    </div>
                    <hr>
                    <br>

                    <div class="form-group">
                        <label for="form-name">Име</label>
                        <input type="text" id="form-name" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="form-surname">Презиме</label>
                        <input type="text" id="form-surname" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="form-phone">Телефонски број</label>
                        <input type="text" id="form-phone" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="form-hour">Час</label>
                        <input id="form-hour" class="form-control" />
                    </div>

                    <div class="md-form">
                        <label for="form-from">Град Од</label>
                        <input id="form-from" class="form-control" />
                    </div>

                    <div class="md-form">
                        <label for="form-to">Град До</label>
                        <input id="form-to" class="form-control" />
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
    </div>
</div>

