
<div class="container pb-5">
    <h2 style="text-align: center;">Пријавување за волонтерство</h2><br>
    <div class="row" style="position:relative; margin-left: 42%; max-width: 400px">
            <div class="card" style="max-width: 250px">
                <div class="card-body">
                    <div class="form-header blue accent-1 text-center text-danger">
                        <h3>Пријави се!</h3>
                    </div>
                    <hr>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Име</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Презиме</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Телефонски број</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Време на тргнување</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>Од градот</mat-label>
                        <mat-select>
                            <mat-option value="1">Скопје</mat-option>
                            <mat-option value="2">Македонски Брод</mat-option>
                            <mat-option value="3">Свети Николе</mat-option>
                            <mat-option value="4">Виница</mat-option>
                            <mat-option value="5">Неготино</mat-option>
                            <mat-option value="6">Битола</mat-option>
                            <mat-option value="7">Кочани</mat-option>
                            <mat-option value="8">Кичево</mat-option>
                            <mat-option value="9">Демир Хисар</mat-option>
                            <mat-option value="10">Охрид</mat-option>
                            <mat-option value="11">Струга</mat-option>
                            <mat-option value="12">Струмица</mat-option>
                            <mat-option value="13">Берово</mat-option>
                            <mat-option value="14">Кратово</mat-option>
                            <mat-option value="15">Куманово</mat-option>
                            <mat-option value="16">Велес</mat-option>
                            <mat-option value="17">Крушево</mat-option>
                            <mat-option value="18">Ресен</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>До градот</mat-label>
                        <mat-select>
                          <mat-option value="1">Скопје</mat-option>
                          <mat-option value="2">Македонски Брод</mat-option>
                          <mat-option value="3">Свети Николе</mat-option>
                          <mat-option value="4">Виница</mat-option>
                          <mat-option value="5">Неготино</mat-option>
                          <mat-option value="6">Битола</mat-option>
                        </mat-select>
                      </mat-form-field>

                    <div class="text-center mt-4">
                        <button mat-raised-button color="warn" routerLink="/home">Submit</button>
                    </div>
                </div>
            </div>
    </div>
</div>

